:root {
    --color-principal-negro: #080808;
    --color-principal-gris8: #1b1b1b;
    --color-principal-gris6: #2e2e2e;
    --color-principal-gris4: #464646;
    --color-principal-gris2: #747474;
    
    --color-principal-amarillo: #ffd900;
    --color-principal-amarillo2: #fde24a;
    --color-principal-amarillo3: #ffed8a;


    --color-secundario-amarillo: #ffd90071;
    --color-secundario-amarillo2: #fde24a75;
    --color-secundario-amarillo3: #ffed8a86;
    --color-secundario-amarilloDark: #c5a80288;

    --color-principal-blanco: #ffffff;
    --color-principal-blanco2: #ebebeb;

  }